@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebboldiranyekanwebbold.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebbold.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebbold.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebbold.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthin.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthin.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthin.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthin.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblight.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblight.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblight.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblight.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregular.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregular.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregular.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregular.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmedium.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmedium.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmedium.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmedium.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrabold.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrabold.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrabold.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrabold.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblack.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblack.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblack.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblack.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablack.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablack.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablack.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablack.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebboldfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebboldfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebboldfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebboldfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthinfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthinfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthinfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebthinfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblightfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblightfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblightfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanweblightfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregularfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregularfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregularfanum.woff) format('woff'), url('/vendor/mehr4-theme-azarbs/fonts/iranyekanwebregular fanum.ttf') format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmediumfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmediumfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmediumfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebmediumfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextraboldfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextraboldfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextraboldfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextraboldfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblackfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblackfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblackfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebblackfanum.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablackfanum.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablackfanum.eot?#iefix) format('embedded-opentype'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablackfanum.woff) format('woff'), url(/vendor/mehr4-theme-azarbs/fonts/iranyekanwebextrablackfanum.ttf) format('truetype')
}

@font-face {
    font-family: 'mfn-icons';
    src: url(/vendor/mehr4-theme-azarbs/fonts/mfn-icons.eot);
    src: url(/vendor/mehr4-theme-azarbs/fonts/mfn-icons.eot) format("embedded-opentype"), url(/vendor/mehr4-theme-azarbs/fonts/mfn-icons.woff) format("woff"), url(/vendor/mehr4-theme-azarbs/fonts/mfn-icons.ttf) format("truetype"), url(/vendor/mehr4-theme-azarbs/fonts/mfn-icons.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
