@font-face {
    font-family: irsans;
    font-style: normal;
    src: url('iransans.eot');
    src: url('iransans.eot') format("embedded-opentype"),
    url('iransans.woff2') format("woff2"),
    url('iransans.woff') format("woff"),
    url('iransans.ttf') format("truetype")
}

@font-face {
    font-family: irsans;
    font-style: normal;
    src: url('IRANSansWeb(FaNum).eot');
    src: url('IRANSansWeb(FaNum).eot') format("embedded-opentype"),
    url('IRANSansWeb(FaNum).woff2') format("woff2"),
    url('IRANSansWeb(FaNum).woff') format("woff"), url('IRANSansWeb(FaNum).ttf') format("truetype")
}
@font-face {
    font-family: FontAwesome;
    src: url(fontawesome-webfont.eot);
    src: url(fontawesome-webfont.eot) format("embedded-opentype"),
    url(fontawesome-webfont.woff2) format("woff2"),
    url(fontawesome-webfont.woff?) format("woff"),
    url(fontawesome-webfont.ttf) format("truetype"),
    url(fontawesome-webfont.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: irsans;
    font-style: normal;
    src: url('IRANSansWeb(FaNum).woff2');
    src: url('iransans.eot?#iefix') format("embedded-opentype"),
    url('IRANSansWeb(FaNum).woff2') format("woff2"),
    url('IRANSansWeb(FaNum).woff') format("woff"),
    url('IRANSansWeb(FaNum).ttf') format("truetype")
}
@font-face {
    font-family: FontAwesome;
    src: url('fontawesome-webfont.eot');
    src: url('fontawesome-webfont.eot?#iefix&v=4.7.0') format("embedded-opentype"),
    url('fontawesome-webfont.woff2?v=4.7.0') format("woff2"),
    url('fontawesome-webfont.woff?v=4.7.0') format("woff"),
    url('fontawesome-webfont.ttf') format("truetype"),
    url('fontawesome-webfont.svg') format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: irsans;
    font-style: normal;
    src: url('iransans.eot');
    src: url('iransans.eot') format("embedded-opentype"),
    url('iransans.woff2') format("woff2"),
    url('iransans.woff') format("woff"),
    url('iransans.ttf') format("truetype")
}

@font-face {
    font-family: irsans;
    font-style: normal;
    src: url('IRANSansWeb(FaNum).eot');
    src: url('IRANSansWeb(FaNum).eot') format("embedded-opentype"),
    url('IRANSansWeb(FaNum).woff2') format("woff2"),
    url('IRANSansWeb(FaNum).woff') format("woff"), url('IRANSansWeb(FaNum).ttf') format("truetype")
}

@font-face {
    font-family: icomoon;
    src: url('icomoon.eot');
    src: url('icomoon.eot') format("embedded-opentype"),
    url('icomoon.ttf') format("truetype"),
    url('icomoon.woff') format("woff"),
    url('icomoon.svg') format("svg");
    font-weight: 400;
    font-style: normal
}
