header.header nav.menu-header ul>li{
    padding: 0 !important;
    border: unset !important;
    transition:unset !important;
}
header.header nav.menu-header ul>li:hover{
    padding: 0 !important;
    border-bottom: unset !important;
    transition:unset !important;
}
header.header nav.menu-header ul {
     margin-top: 0 !important;
}
header.header nav.menu-header ul>li a:hover {
    color: #1468a0 !important;
}

.is-dropdown-submenu{
    min-width: 250px;
}
.contact-us-content .contact-us-content-box{
    z-index: unset !important;
}
section.section-404 a {
     background: rgba(243,193,18,0.65) !important;
     padding:unset !important;
     margin: unset !important;
     border-radius: 2px !important;
     color: #1468a0 !important;
}

